.main-blog {
    background-color: #cfdefc;
}

#blog-category {
    width: 100%;
    background-color: rgb(56, 55, 55);
    border: none;
    color: white;
}

#blog-nav-bar {
    display: none;
}

.blog-container {
    padding-bottom: 25px;
    background: rgb(248, 248, 248);
}

.blog-child {
    width: 100%;
}

.blog-background {
    width: 100%;
    min-height: 175px;
}

.blog-text {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
    border-bottom: 1px solid gray;
}

.blog-text:active {
    color: #ff3644;
}

.blog-h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 25px 0;
}

.blog-summary {
    font-size: 14px;
    text-align: justify;
    overflow-wrap: break-word;
}

#blog-pic-1 {
    background: url('../img/background/flat-lay-abstract-composition-with-innovation-elements.jpg')
        right center / cover no-repeat;
}

#blog-pic-2 {
    background: url('../img/background/am-gm-inequality.png') center / cover
        no-repeat;
}

#blog-pic-3 {
    background: url('../img/background/calculator.jpg') center / cover no-repeat;
}

@media screen and (min-width: 768px) {
    .main-blog {
        padding: 100px 180px;
    }

    #blog-category {
        display: none;
    }

    #blog-nav-bar {
        display: flex;
    }

    .blog-nav {
        font-weight: 600;
        margin: 0 60px 0 0;
    }

    .blog-container {
        padding: 0;
        margin: 50px 0;
    }

    .blog-child {
        display: flex;
        background: white;
    }

    .blog-background {
        min-height: 300px;
        width: 50%;
    }

    .blog-text {
        width: 50%;
        padding: 0 20px;
        margin: 30px 20px 50px;
    }

    .blog-nav,
    .blog-text {
        transition: color 0.5s;
    }

    .blog-text:hover,
    .blog-nav:hover {
        color: #ff3644;
    }

    .blog-h2 {
        font-size: 30px;
    }
}
