#contact {
    background: url("../img/background/whiteboard-with-formulas.jpg") right / cover no-repeat #426cf3;
    background-blend-mode: multiply;
    padding: 20px;
}

#contact-title {
    color: white;
    font-size: 20px;
}

#contact-form label {
    color: white;
    font-size: 18px;
}

#contact-form input {
    width: calc(100% - 15px);
    background: none;
    border: none;
    border-bottom: 1px solid white;
    caret-color: white;
    color: white;
    font-size: 16px;
    margin: 10px 0 20px;
}

#contact-comment {
    width: calc(100% - 15px);
    height: 300px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    caret-color: white;
    resize: none;
    color: white;
    font-size: 16px;
    margin: 10px 0 20px;
}

#fail, #success {
    display: none;
    color: white;
    margin-bottom: 20px;
}

#contact-submit {
    width: 200px !important;
    background-color: #ff3644 !important;
    border: none !important;
    border-radius: 30px;
    color: white;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    #contact {
        padding: 100px;
    }

    .small-underline {
        margin-bottom: 50px;
    }

    #contact-title {
        font-size: 30px;
    }

    #contact-form input {
        width: calc(50% - 25px);
    }
}