/* Main title */

#main-1 {
    background: url('../img/background/whiteboard-with-formulas.jpg') right /
        cover no-repeat #426cf3;
    background-blend-mode: multiply;
    padding: 20px;
}

.subtitle {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: white;
}

#main-1 p c {
    line-height: 70px;
    font-size: 50px;
}

#main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-a {
    width: 40%;
    min-height: 100px;
    padding: 10px;
    margin: 15px 0;
    background-color: white;
    text-align: center;
}

#math-innovation-nav {
    flex-grow: 1;
}

/* #FF2736 */

.main-icon {
    width: 60px;
    margin: 10px;
}

/* Featured Post */

.main-background-blue {
    background: #0332cb;
    padding: 50px 20px;
    color: white;
}

.background-main-post {
    width: 100%;
    height: 200px;
}

.summarize-main-post {
    min-height: 200px;
    padding: 30px 20px;
    border-bottom: 1px solid #385dd2;
}

.summarize-main-post:active {
    color: #ff3644;
}

.main-post-h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
    color: inherit;
}

.summarize-main-post-short {
    font-size: 14px;
    text-align: justify;
    overflow-wrap: break-word;
}

/* Recent Posts */

.main-background-light-blue {
    padding: 50px 20px;
    background: #cfdefc;
}

.sub-post {
    margin: 30px 0;
    background-color: white;
}

.sub-post-picture {
    width: 100%;
    height: 200px;
}

.sub-post-h2 {
    width: 90%;
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
    margin: 0 auto 25px;
    border-bottom: 1px solid gray;
    transition: color 0.5s;
}

.sub-post-h2:hover,
.sub-post-h2:active {
    color: #ff3644;
}

/* Daily problem */

#main-daily-problem-post {
    background: url('../img/background/am-gm-inequality.png') center / cover
        no-repeat;
}

/* Quote */

#quote-symbol {
    padding-top: 50px;
    width: 50px;
}

#main-quote {
    margin-top: -50px;
    font-size: 30px;
    text-align: center;
}

#quote-author {
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

/* Tech maths */

#main-tech-post {
    background: url('../img/background/calculator.jpg') center / cover no-repeat;
}

/* Math tips and innovations */

#main-innovation-post {
    background: url('../img/background/flat-lay-abstract-composition-with-innovation-elements.jpg')
        right center / cover no-repeat;
}

/* About page */

.my-pic {
    width: 100%;
    height: 300px;
    border: solid 10px white;
    margin-right: 20px;
    background: url('../img/background/my-pic.jpg') center / cover no-repeat;
}

.my-text-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: white;
    padding: 30px 0;
}

.my-description {
    line-height: 20px;
    font-weight: 400;
    color: white;
}

/* Blog */

.main-blog {
    background-color: #cfdefc;
}

#blog-category {
    width: 100%;
    background-color: rgb(56, 55, 55);
    border: none;
    color: white;
}

#blog-nav-bar {
    display: none;
}

.blog-container {
    padding-bottom: 25px;
    background: rgb(248, 248, 248);
}

.blog-child {
    width: 100%;
}

.blog-background {
    width: 100%;
    min-height: 175px;
}

.blog-text {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
    border-bottom: 1px solid gray;
}

.blog-text:active {
    color: #ff3644;
}

.blog-h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 25px 0;
}

.blog-summary {
    font-size: 14px;
    text-align: justify;
    overflow-wrap: break-word;
}

#blog-pic-1 {
    background: url('../img/background/flat-lay-abstract-composition-with-innovation-elements.jpg')
        right center / cover no-repeat;
}

#blog-pic-2 {
    background: url('../img/background/am-gm-inequality.png') center / cover
        no-repeat;
}

#blog-pic-3 {
    background: url('../img/background/calculator.jpg') center / cover no-repeat;
}

/* Post */

main {
    background-color: #cfdefc;
}

.blog-nav-bar {
    display: none;
}

#selected-post {
    background: white;
    padding-bottom: 30px;
}

#selected-h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
}

#selected-summary {
    font-weight: 600;
    padding: 0 20px;
}

#selected-main-background {
    width: 100%;
    height: 200px;
    background: url('../img/background/flat-lay-abstract-composition-with-innovation-elements.jpg')
        right center / cover no-repeat;
    margin: 10px 0;
}

.selected-paragraph {
    text-align: justify;
    margin: 20px;
}

.selected-img {
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
}

.selected-insight {
    font-size: 24px;
    font-style: italic;
    text-align: justify;
    padding-left: 20px;
    margin: 20px 20px;
    border-left: 3px solid #ff3644;
}

.sub {
    font-size: 14px !important;
    padding: 10px;
}

.bold {
    font-weight: bold;
}

#recent-posts-container {
    background-color: white;
    padding: 20px;
}

#recent-posts-container-navbar {
    display: flex;
    justify-content: space-between;
}

#recent-posts-slideshow {
    position: relative;
}

.recent-post {
    display: none;
    margin: 20px;
    border: 2px solid black;
}

.post-pic {
    height: 200px;
}

.post-h2 {
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0;
    margin: 0 20px 50px;
    border-bottom: 1px solid gray;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px 32px 16px 0;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    padding: 16px 0px 16px 32px;
    border-radius: 3px 0 0 3px;
}

.dots-line {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

#recent-posts-nav {
    display: none;
}

/* Quiz Page */

.quiz-container {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto;
    gap: 0.25rem;
    background-color: #cfdefc;
}

.quiz-question,
.quiz-answer {
    width: 100%;
    padding: 1rem;
    background-color: white;
}

.quiz-question {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.quiz-answer {
    text-align: center;
    transition: background-color 0.2s;
}

.quiz-answer:hover {
    background-color: #e6e6e6;
}

/* Authentication Page */

.auth-container {
    padding: 1rem;
}

.auth-welcome {
    padding: 0.25rem 0;
    font-size: 2rem;
}

.auth-motivation {
    padding: 0 0 1rem 0;
    font-size: 14px;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-outside {
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-out-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.75rem;
}

.auth-label {
    padding: 0.25rem 0;
    font-size: 1.25rem;
    font-weight: 300;
}

.auth-input {
    border: 1px solid #9b9a9a;
    border-radius: 1rem;
    padding: 0 0.5rem;
    margin: 0 0 0.5rem;
    line-height: calc(1rem + 20px);
}

.auth-submit {
    width: 30%;
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
    margin: 0.25rem 0 0 0;
    background-color: #0332cb;
    color: white;
    text-align: center;
}

/* ------------------------------------------------------------------ */

/* Computer Screen */
@media screen and (min-width: 768px) {
    .quiz-container {
        padding: 2rem;
        grid-template-columns: auto auto;
    }

    .quiz-quextion,
    .quiz-answer {
        padding: 2rem;
    }

    .quiz-question {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 1024px) {
    /* Main title */

    #main-1 {
        padding: 100px;
    }

    #main-nav {
        width: 70%;
        margin: 25px auto;
    }

    #math-innovation-nav {
        flex-grow: 0;
    }

    .main-a {
        width: 30%;
        padding: 50px 0;
    }

    /* Featured Post */
    .main-background-blue {
        padding: 100px 200px 150px;
    }

    .main-post {
        display: flex;
        justify-content: space-between;
    }

    .main-title {
        font-size: 50px;
    }

    .background-main-post {
        width: 50%;
        min-height: 300px;
    }

    .summarize-main-post {
        width: 45%;
        transition: color 0.5s;
    }

    .summarize-main-post:hover {
        color: #ff3644;
    }

    .main-post-h2 {
        font-size: 30px;
    }

    .summarize-main-post-short {
        font-size: 17px;
    }

    /* Recent Posts */

    .main-background-light-blue {
        padding: 100px 200px 150px;
    }

    .sub-post-container {
        display: flex;
        justify-content: space-between;
    }

    .sub-post {
        width: 31%;
    }

    .sub-post-h2 {
        font-size: 20px;
    }

    #quote-symbol {
        width: 75px;
        padding-bottom: 30px;
    }

    /* About page */
    .about-me {
        padding: 50px 150px 125px;
    }

    .my-profile {
        display: flex;
        justify-content: space-between;
    }

    .my-pic {
        width: 400px;
        height: 400px;
    }

    .my-text {
        width: 600px;
    }

    .my-description {
        font-size: 18px;
        line-height: 24px;
    }

    .my-text-header {
        font-size: 28px;
        font-weight: 700;
    }

    /* Blog */

    .main-blog {
        padding: 100px 180px;
    }

    #blog-category {
        display: none;
    }

    #blog-nav-bar {
        display: flex;
    }

    .blog-nav {
        font-weight: 600;
        margin: 0 60px 0 0;
    }

    .blog-container {
        padding: 0;
        margin: 50px 0;
    }

    .blog-child {
        display: flex;
        background: white;
    }

    .blog-background {
        min-height: 300px;
        width: 50%;
    }

    .blog-text {
        width: 50%;
        padding: 0 20px;
        margin: 30px 20px 50px;
    }

    .blog-nav,
    .blog-text {
        transition: color 0.5s;
    }

    .blog-text:hover,
    .blog-nav:hover {
        color: #ff3644;
    }

    .blog-h2 {
        font-size: 30px;
    }

    .current-post {
        padding: 100px 180px;
    }

    .blog-nav-bar {
        display: flex;
    }

    .blog-nav {
        font-weight: 600;
        margin: 0 60px 0 0;
        transition: color 0.25s;
    }

    .blog-nav:hover {
        color: #ff3644;
    }

    #selected-post {
        padding: 100px;
        margin: 50px 0;
    }

    #selected-h2 {
        font-size: 50px;
        margin-bottom: 50px;
    }

    #selected-summary {
        padding: 0;
        margin: 50px 0;
    }

    #selected-main-background {
        height: 400px;
    }

    .selected-paragraph {
        font-size: 20px;
        margin: 50px;
    }

    .sub {
        font-size: 16px !important;
        padding: 0 20px;
    }

    .selected-img {
        max-width: 550px;
    }

    .selected-insight {
        font-size: 30px;
    }

    .recent-posts-h2 {
        font-size: 30px;
        font-weight: 600;
        padding: 30px 0 0 30px;
    }

    .see-all-nav:hover {
        text-decoration: underline;
    }

    #recent-posts-slideshow {
        display: none;
    }

    .dots-line {
        display: none;
    }

    #recent-posts-nav {
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }

    .recent-post-a {
        width: 30%;
        border: 2px solid black;
        transition: color 0.5s;
    }

    .recent-post-a:hover {
        color: #ff3644;
    }

    .post-pic-a {
        height: 200px;
    }

    .post-h2-a {
        font-size: 24px;
        font-weight: 600;
        padding: 20px;
    }

    /* Authentication Page */

    .auth-container {
        height: 75vh;
        padding: 5rem 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem 2rem;
    }

    .auth-welcome {
        display: flex;
        flex-direction: column-reverse;
    }

    .auth-form {
        grid-area: 1 / 2 / 3 / 3;
        margin: auto 0;
    }
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}
