.new-auth {
  padding: 0 15px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-label {
  font-size: 18px;
  font-weight: 500;
}

.auth-input {
  padding: 10px 5px;
  margin: 5px 0 20px;
  border: 1px solid #9b9a9a;
  border-radius: 10px;
}

.auth-submit {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #0332cb;
  color: white;
  text-align: center;
}
